body{
    background-image: url("img.jpg");
    background-color: darkblue;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.image {
    width: 150px; /* Kích thước chiều rộng */
    height: auto; /* Chiều cao tự động điều chỉnh để giữ tỷ lệ khung hình */
}

button {
    padding: 15px 32px;
    text-align: left ;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    background-color: aqua;
    color: black;
    border-radius: 20px;
}
.button{
    width: 100%;
}

.button:hover {
    background-color: yellow;
}
#answer {
    width: 80%;
    margin-left: 10%;
}

.answer {
    padding: 5px;
    width: 30%;
}
.answer2 {
    padding: 5px;
    width: 30%;
}

#question {
    background-color: #0a92c4;
    width: 80%;
    height: 100px;
    text-align: left;
    border-radius: 20px;
    margin: 5px 10% 50px;
    padding:50px 10px 0px 10px;
    font-size: 30px;
}

#bonus {
    background-color: orange;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 10px;
}

#bd {
    width: 20%;
    float: left;
}

#body {
    width: 80%;
    float: left;
}

h4{
    padding: 8px;
    border-bottom: 2px solid black;
}

.kq{
    background-color: aquamarine;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.kq5{
    background-color: aqua;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-transform: uppercase;
}

#timeout{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #d5cf1e;
    border-radius: 10px;
    text-align: center;
    padding:25px 10px 10px 10px;
}


