body{
    background-image: url("img.jpg");
    background-color: darkblue;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.image {
    width: 200px; /* Kích thước chiều rộng */
    height: auto; /* Chiều cao tự động điều chỉnh để giữ tỷ lệ khung hình */
}
.video-container {
    width: 100px; /* Độ rộng của phần tử chứa video */
    height: 100px; /* Chiều cao của phần tử chứa video */
    overflow: hidden; /* Ẩn phần video vượt ra ngoài phần tử chứa */
}

.rounded-video {
    width: 100%; /* Chiều rộng của video là 100% để lấp đầy phần tử chứa */
    height: auto; /* Chiều cao tự động điều chỉnh để giữ tỷ lệ khung hình */
    border-radius: 50%; /* Biến đổi thành hình tròn */
}
button {
    padding: 15px 32px;
    text-align: left ;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    background-color: aqua;
    color: black;
    border-radius: 20px;
}
.button{
    width: 100%;
}

#answer {
    width: 80%;
    margin-left: 10%;
}

.answer {
    padding: 5px;
    width: 30%;
}
.answer2 {
    padding: 5px;
    width: 30%;
}

#question {
    background-color: #33af92;
    width: 80%;
    height: 100px;
    text-align: left;
    border-radius: 20px;
    margin: 100px 10% 50px;
    padding-top:40px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 35px;
}

#bonus {
    background-color: orange;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 10px;
}

#bd {
    width: 15%;
    float: left;
}

#body {
    width: 85%;
    float: left;
}

h4{
    padding: 8px;
    border-bottom: 2px solid black;
}

.kq{
    background-color: aquamarine;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.kq5{
    background-color: aqua;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-transform: uppercase;
}


